@import "../../components/Navbarmain/media-queries.module" ;

.navMain{
    padding: 2rem 10rem !important;
    @include tablet {
        padding: 2rem 2rem !important;
    }
    .navBasic, .navPremium {
        border: 0 !important;
        border-bottom: 3px solid #C4C4C4 !important;
        color: black;
        font-size: 20px; 
        @include tablet{
            font-size: 16px !important;
        }
        &:hover{
            color: black;
        }   
    }
    .active {
        color: #B00000 !important;
        border-bottom: 3px solid #B00000 !important;
      }
}


.badgeyearly {
    background-color: #FFE87A;
    border-radius: 8px;
    color: black !important;
}

.yearlyText{
    margin: 0rem 0.5rem 0rem 0rem;
    @include mobile{
        margin: 0rem;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin: 0rem 0.5rem;
    @include mobile{
        margin: 0rem 0.2rem;
    }

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B00000;
    -webkit-transition: 0.4s;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 7px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        @include mobile{
            left: 0px;
        }
    }

    input:checked+&:before {
        -webkit-transform: translateX(38px);
        -ms-transform: translateX(38px);
        transform: translateX(40px);
        
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input,
label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}